body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

h1, h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #dd7676;
    border-radius: 4px;
}

#orderSummary {
    max-width: 400px;
    margin: 20px auto;
    background: #dea1c1;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.order-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

#totalPrice {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #71bdce;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #125458;
}
